{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 2% in US"],
        "node": "current"
      },
      "exclude": ["transform-regenerator", "transform-async-to-generator"]
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    ["transform-class-properties", { "spec": true }],
    ["fast-async", { "spec":true }]
  ]
}
